@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
	scroll-behaviour: smooth;
}
body{ 
	margin:0;
	padding:0;	
}

*{
	box-sizing: border-box; 
	margin:0;	
	padding:0;
	font-family: 'Oswald', sans-serif;
}
header{
	position: absolute; 
	Left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	padding:20px 15px;
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

header .logo a{
	font-size: 30px;
	text-decoration: none;
	color:#ffffff; 
	font-weight: 700;
}

header .logo a span{
	color:#DA291C;
}
header .nav{
	position: fixed;
	background-color: #DA291C;
	width: 280px; 
	top:0;
	right:0; 
	height: 100%;
	z-index: 99;  
	padding:100px 0px 15px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform .2s ease; 
	transition: transform .2s ease; 

}
header .nav.open{
	-webkit-transform: translateX(0);
	transform: translateX(0);

}
header .nav ul{
	list-style: none;
	margin:0;
	padding:0px;
}

header .nav ul li{
display: block;
margin-bottom:10px;
}

header .nav ul li a{
	text-decoration: none
	font-size: 30px;
	font-weight: 400;  
	color:#ffffff;
	display: block; 
	position: relative;
	padding:0px 30px; 
}
header .nav ul li a::before{
	content: '';
	position: absolute; 
	Left:0px;
	top:0px;
	height: 100%;
	width:0px;
	background-color:#000000;
	opacity:.2;
	-webkit-transition: width .2s ease;
	transition: width .2s ease;
	z-index: -1; 
}
header .nav ul li a:hover::before{
	width: 100%;
}
header .ham-burger{
	display: inline-block;
	position: relative; 
	z-index: 100;
}
header .ham-burger span{
	height: 3px; 
	margin-bottom:8px; 
	display: block;
	background-color:#ffffff;
	width:30px;
	-webkit-transition: transform .2s ease;
	transition: transform .2s ease;
}
header .ham-burger span:nth-child(1){
	transform-origin: left top;
}
header .ham-burger span:nth-child(2){
	transform-origin: left bottom;
}
header .ham-burger.active span:nth-child(1){
	transform: rotate(45deg) translateY(-6px)
}
header .ham-burger.active span:nth-child(2){
	transform: rotate(-45deg) translateY(6px)
}
.container{
	max-width: 1170px;
	margin: auto;
}

.home{
	height:100vh;	
	background-image: url("Home.jpg");
	background-size: cover;
	padding:15px; 
	-webkit-display: flex; 
	display: flex; 
	position: relative; 
}

.home .go-down{
	position: absolute; 
	bottom: 50px; 
	width: 26px; 
	height:40px;
	border:1px; solid #ffffff;
	display: block;
	border-radius:4px; 
	text-align: center;
	Left:50%;
	margin-Left: -13px; 
}
.home .go-down .fa{
	color:#ffffff;
	-webkit-animation: goDown 1s ease infinite;
	animation: goDown 1s ease infinite; 
}

@keyframes goDown{
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}
.home .container{
	-webkit-display: flex; 
	display: flex; 
	flex-direction: column;
	flex-grow: 1;
}

.home h1{
	color: #ffffff; 
	font-size: 60px;
	font-weight: 700; 
	text-transform: uppercase; 
}

.home h1 span{
	color: #DA291C; 
}

.about{ 

	padding:80px 15px; 
	background-color:#ffffff;
}

.about .content{ 
display: flex; 
}
.about .content .box{
	flex: 0 0 33.33%;
	max-width: 33.33%
	padding:15px;
}

.about .content .box .inner .text p{
	letter-spacing:1px;	
	font-size: 15px; 
	line-height:20px;	
	color:#ffffff;
	margin:0;
	font-weight: 300;
}

.service{
	padding: 80px 15px; 
	background-color: #c11325;

}

.service .content{
	-webkit-display: flex;
	display: flex; 
}
.service .content .box{
	flex: 0 0 50%;
	max-width: 50%
}

.service .content .text h4{

	font-size: 30px;
	font-weight: 500;
	color:#ffffff;
	padding: 0px 0px 30px;

}

.service .content .text p{
	font-size: 15px; 
	line-height:20px;
	color:#ffffff;	
 	margin:0; 
	padding: 0 0 20px;
	font-family: 'Open Sans', sans-serif; 
}

.service .content .text .btn{
	padding:8px 30px;
	background-color: #000000;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	border:1px solid transparent; 
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;

}


.service .content .text .btn:hover{
	border:1px solid #fff; 
	color:#fff;
	background-color: transparent; 
}
.service .content .accordian-container {
	margin-bottom: 5px;
}
.service .content .accordian-container .head{
	background-color:rgba(0, 0, 0, 0.2);
	position: relative; 
	padding: 12px 15px;
	cursor: pointer; 
	
}

.service .content .accordian-container .head .fa{

	position: absolute; 
	right: 0x;
	top: 13px; 
	color: #ffffff;	
	height: 30px;
	width: 30px; 
	text-align: center; 
	display: inline-block;
	line-height: 30px;	
	color:#ffffff;
	border-radius: 50%;
	

}
.service .content .accordian-container .head h3{
	font-size: 20px; 
	margin:0;
	padding:0; 
	font-weight: 500;	
	color:#ffffff;	
	text-transform: Capitalize; 
}

.service .content .accordian-container.active .head{
	background-color:#000000;
}
.service .content .accordian-container .body{

}

.service .content .accordian-container.active .body{
	display:block;
	
}

.service .content .accordian-container.active .body p{
font-size: 15px; 
	line-height:20px;
	color:#ffffff;	
 	margin:0; 
	padding: 0 0 20px;
	font-family: 'Open Sans', sans-serif; 

}
	
.pricing .content { 
	-webkit-display: flex;
	display:flex; 
}
.pricing .content .box{

	flex: 0 0 50%;
	max-width: 50%;
}